<html xmlns:th="http://thymeleaf.org" xmlns:layout="http://ultraq.net.nz/thymeleaf/layout">

<head>
      <title>CPVFE/DMT</title>
    <link type="text/css" href="/materialize\css\icon.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/materialize/css/materialize.min.css" media="screen,projection" />
 	 <script src="/jquery-ui-1.12.1/external/jquery/jquery.js"></script>
 	 <script src="/jquery-ui-1.12.1/jquery-ui.js"></script>
 	 <link type="text/css" rel="stylesheet" href="/jquery-ui-1.12.1/jquery-ui.min.css"/>
 	<link type="text/css" rel="stylesheet" href="/jquery-ui-1.12.1/jquery-ui.theme.css"/>
  	<script src="/materialize/js/materialize.min.js"></script>
</head>

<body>
<header>
<nav>
    <div class="nav-wrapper" style="background-color:#404950;border-bottom:solid white 1px">
     <a href="#"style="margin-left:2%;font-size:30px">CPVFE/DMT - Detalhes de Encomenda</a>
      <ul id="nav-mobile" class="right">
        <li> <span>Utilizador: <span th:text="${#authentication.getPrincipal().getUsername()}"></span> &nbsp &nbsp</li>
       
         <li> <span>Area: <span th:text="${#authentication.getAuthorities().get(0).roleFunction.replace('ROLE_','')}"></span></span></li>
        <li><a class='dropdown-button' href='#' data-activates='dropdown1' ><i class="material-icons">arrow_drop_down</i></a></li>
      </ul>
       <ul id='dropdown1' class='dropdown-content'>
    		<li><a href="/User/updatePassword" style="color:#963a3a">Alterar Password</a></li>
   			<li><a href="/logoutAcc" style="color:#963a3a">Terminar Sessão</a></li>	
		  </ul>
      </div>
  </nav>
   <nav>
    <div class="nav-wrapper" style="background-color:#404950">
      <ul id="nav-mobile" style="margin-left:1%">
        <li><a  href="	/" class="waves-effect waves-light btn-small"  style="background-color:#963a3a"><i class="material-icons right">home</i>Inicio</a></li>
           <li><a  href="/Alfaiataria/Encomendas" class="waves-effect waves-light btn-small" style="background-color:#963a3a"><i class="material-icons right">format_list_bulleted</i>Lista de Encomendas</a></li>
     	     	  <li><a  href="/CalendarioDeEncomendas" class="waves-effect waves-light btn-small" style="background-color:#963a3a"><i class="material-icons right">view_comfy</i>Calendário</a></li>
      </ul>
      </div>
  </nav>
 </header>
    <div style="margin-left:4%">
        <div th:each="encomenda : ${encomenda}" class="container" style="float:left;width:30%">
            <div class="row">
                      <h4>Encomenda <span th:text= "${encomenda.encCode}"></span></h4>
                <p><strong>Local: </strong><span th:text="${encomenda.description}" </span></p>
                 <p><strong>Data de Registo: </strong><span th:text="${#temporals.format(encomenda.dateStart,'dd-MM-yyyy')}" </span></p>
                <p><strong>Data limite de Entrega: </strong><span th:text="${#temporals.format(encomenda.dateLimite,'dd-MM-yyyy')}" </span></p>
                <p><strong>Estado: </strong><span th:text="${encomenda.state}" </span></p>
                <p><strong>Costureira: </strong><span th:text="${encomenda.costureira}" </span></p>
                <h4>Cliente</h4>
                <p><strong>NIM: </strong><span th:text="${encomenda.client.nim}" </span></p>
                <p><strong>Nome: </strong><span th:text="${encomenda.client.name}" </span></p>
                <p><strong>Posto: </strong><span th:text="${encomenda.client.ranked}" </span></p>
                <p><strong>Unidade: </strong><span th:text="${encomenda.client.department}" </span></p>
                <p><strong>Arma: </strong><span th:text="${encomenda.client.weapon}" </span></p>
                <p><strong>Telefone: </strong><span th:text="${encomenda.client.cellNumber}" </span></p>
                <p><strong>Email: </strong><span th:text="${encomenda.client.email}" </span></p>
                
            </div>
            <button class="waves-effect waves-light btn-small"  style="background-color:#963a3a" onclick="showForm()"><i class="material-icons right">edit</i>Alterar Estado da Encomenda</button>
            <br>
            <br>
            <button class="waves-effect waves-light btn-small"  style="background-color:#963a3a" onclick="showForm1()"><i class="material-icons right">edit</i>Alterar Costureira</button>
            <hr>
        </div>
          <div style="float:left;margin-left:5%">
            <h4>Artigos da Encomenda</h4>
            <table style="width:100%" class="centered highlight">
                <thead>
                    <tr>
                        <th>NNA</th>
                        <th>Artigo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="product : ${produtos}">
                        <td><span th:text="${product.nna}"></span></td>
                        <td><span th:text="${product.description}"></span></td>
                    </tr>
                </tbody>
            </table>
        </div>
		   <div id="alterState" style="display:none; float:left; margin-left:3%; margin-top:12%">
            <h4>Estado</h4>
               <form method="post" > 
                 <select name="info" class="browser-default" style= "width:100%;height:5%;">
                 	<option value="Corte">Corte</option>
                 	<option value="Em Prova 1">Em Prova 1</option>
                 	<option value="Em Prova 2">Em Prova 2</option>
                 	<option value="Em Execução 1">Em Execução 1</option>
                 	<option value="Em Execução 2">Em Execução 2</option>
                 	<option value="Acabamento">Acabamento</option>
                 	<option value="Pronta">Pronta</option>
                 </select>
                 <input type="hidden" name="form" value="1"/>
                 <br>
                  <button class="waves-effect waves-light btn-small"  style="background-color:#963a3a" type="submit"><i class="material-icons right">add_circle</i> Alterar </button>
               </form>
            </div>
            <div id="alterWorker" style="display:none; float:left; margin-left:3%; margin-top:12%">
            <h4>Costureira</h4>
               <form method="post" > 
                 <select name="info"  class="browser-default" style= "width:100%;height:5%;">
                  			<option style="overflow:auto" th:each="costureira : ${costureiras}"
                  				th:value="${costureira.name}"
                  				th:text="${costureira.name}"></option>
                  	</select>
               	 <input type="hidden" name="form" value="2"/>
                 <br>
                  <button class="waves-effect waves-light btn-small"  style="background-color:#963a3a" type="submit"><i class="material-icons right">add_circle</i> Alterar </button>
               </form>
            </div>
   </div>
   </body>
    <script>
      function showForm(){
      	var workerDiv = document.getElementById("alterWorker");
      	if(workerDiv.style.display == "inline")
      		workerDiv.style.display = "none";
      		
      	document.getElementById("alterState").style.display="inline";
      }
       function showForm1(){
       
      	var stateDiv = document.getElementById("alterState");
      	if(stateDiv.style.display == "inline")
      		stateDiv.style.display = "none";
      		
      	document.getElementById("alterWorker").style.display="inline";
      }
   </script>
   <script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</html>