<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://ultraq.net.nz/thymeleaf/layout">
	  <head>
	    <title>CPVFE/DMT</title>
    <link type="text/css" href="/materialize\css\icon.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/materialize/css/materialize.min.css" media="screen,projection" />
 	 <script src="/jquery-ui-1.12.1/external/jquery/jquery.js"></script>
 	 <script src="/jquery-ui-1.12.1/jquery-ui.js"></script>
 	 <link type="text/css" rel="stylesheet" href="/jquery-ui-1.12.1/jquery-ui.min.css"/>
 	<link type="text/css" rel="stylesheet" href="/jquery-ui-1.12.1/jquery-ui.theme.css"/>
  	<script src="/materialize/js/materialize.min.js"></script>
<body>
<header>
<nav>
    <div class="nav-wrapper" style="background-color:#404950;border-bottom:solid white 1px">
     <a href="#"style="margin-left:2%;font-size:30px">CPVFE/DMT - Alterar Password</a>
      <ul id="nav-mobile" class="right">
        <li> <span>Utilizador: <span th:text="${#authentication.getPrincipal().getUsername()}"></span> &nbsp &nbsp</li>
       
         <li> <span>Area: <span th:text="${#authentication.getAuthorities().get(0).roleFunction.replace('ROLE_','')}"></span></span></li>
        <li><a class='dropdown-button' href='#' data-activates='dropdown1' ><i class="material-icons">arrow_drop_down</i></a></li>
      </ul>
       <ul id='dropdown1' class='dropdown-content'>
    		<li><a href="/User/updatePassword" style="color:#963a3a">Alterar Password</a></li>
   			<li><a href="/logoutAcc" style="color:#963a3a">Terminar Sessão</a></li>	
		  </ul>
      </div>
  </nav>
   <nav>
    <div class="nav-wrapper" style="background-color:#404950">
      <ul id="nav-mobile" style="margin-left:1%">
        <li><a  href="/" class="waves-effect waves-light btn-small"  style="background-color:#963a3a"><i class="material-icons right">home</i>Inicio</a></li>
     	 <li><a  href="/PontoDeVenda" class="waves-effect waves-light btn-small" style="background-color:#963a3a"><i class="material-icons right">add_circle</i>Ponto de Venda</a></li>
     	<li><a  href="/Alfaiataria" class="waves-effect waves-light btn-small" style="background-color:#963a3a"><i class="material-icons right">add_circle</i>Alfaiataria</a></li>
     	<li><a  href="/Administrador" class="waves-effect waves-light btn-small"style="background-color:#963a3a"><i class="material-icons right">verified_user</i>Administração</a></li>
      </ul>
      </div>
  </nav>
 </header>
<div class="container center-align">
<form method="POST" class="container">
	<div class="row">
		<div class="input-field col s12">
	<h5>Password Atual</h4>
    <input id="oldpass" name="oldpassword" type="password"/>
    </div>
    <div class="input-field col s12">
    <h5>Nova Password</h4>
    <input id="pass" name="password" type="password" />
    </div>
    <div class="input-field col s12">
    <h5>Repetir Nova Password</h4>
    <input id="passConfirm" name="passwordSec" type="password"/>   
    </div>           
     </div>          
   <button class="waves-effect waves-light btn"style="background-color:#963a3a"type="submit"><i class="material-icons right">done</i> Concluir </button>
</form>
<th:block th:include="validationMsgError"></th:block>
 	<th:block th:include="validationMsgValid"></th:block>
<div>
</body>
</html>